body {
  margin: 0;
  padding: 0;
  background-image: url(https://hb.hipotecario.com.ar/hb/imagen-fondo-HB-1920x1080.8d75d6ef48c34a993966.png);
  background-repeat: no-repeat;
  max-height: 100%;
  height: 100vh;
  background-size: cover;
  font-family: Roboto;
}
